{{ define "navmob" }}
<div class="navmob">
    <a class="navmob-item" href="/home">Home</a>
    <a class="navmob-item" href="/clock-on">Clock-on</a>
    <a class="navmob-item" href="/leave">Leave</a>
    <a class="navmob-item" href="/home">Current Jobs</a>
    <div class="bmtnavmob-container">
        <a class="navmob-item" href="/home">Admin</a>
        <div class="settings-container">
            <a class="navmob-item" href="/home">User name</a>
            <button class="logout-btn">Log out</button>
        </div>
    </div>
</div>
{{ end }}