<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <title>Clock-On - GPG</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        {{ template "header" . }}
        <div class="nav-content-container">
            {{ template "nav" . }}
            <div class="content-container">
                <div class="ts-yaxis-container">
                    <p class="y-label">Sunday</p>
                    <p class="y-label">Monday</p>
                    <p class="y-label">Tuesday</p>
                    <p class="y-label">Wednesday</p>
                    <p class="y-label">Thursday</p>
                    <p class="y-label">Friday</p>
                    <p class="y-label">Saturday</p>
                </div>
                <div>
                    <div class="timesheet-header">
                        <div class="ts-header-item">
                            <p>Start</p>
                        </div>
                        <div class="ts-header-item">
                            <p>End</p>
                        </div>
                        <div class="ts-header-item">
                            <p>Date</p>
                        </div>
                    </div>
                    {{ range .Timesheets }}
                        {{ template "timesheet" .}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>