body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-content-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    height: auto;
}

.login-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 400px;
}

.logo {
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    height: 100px;
    padding-left: 15px;

    display: flex;
}

.navmob-btn {
    display: none;
}

.nav {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;

    padding: 2em 1em 2em 2em;
    row-gap: 1.5em;

    background-color: #1d1c1d;
}

.navmob {
    display: none;
}

.nav-item {
    width: fit-content;
    color: #e7e9ea;
    opacity: 1;
    transition: 0.3s;
}

.nav-item:hover {
    opacity: 0.6;
}

.btmnav-container {
    margin-top: auto;
}

.settings-container {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    margin-top: 1.5em;
}

.header-logo {
    height: 100%;
}

.content-container {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;

    border: #1d1c1d;
    border-style: solid;
    border-width: 2px;
}

.logout-btn {
    background: none;
    border: none;
    color: #e7e9ea;
}

.timesheet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
}

.timesheet-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ts-header-item {
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
}

.ts-yaxis-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-top: 2.5em;
    margin-right: 1em;
}

.y-label {
    display: flex;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .nav {
        display: none;
    }

    .navmob {
        display: flex;
        width: 100vw;
    }

    .navmob-btn {
        display: block;
        margin-left: auto;
        margin-right: 3em;
        width: 5em;
        height: 80%;
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center;
    }

    .header-logo {
        margin-left: 2em;
    }

    .header-container {
        height: 100px;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .navmob-btn-item {
        border: #1d1c1d;
        border-width: 2px;
        border-style: solid;

        width: 60%;
        height: 0;

        background: #1d1c1d;
    }

    .navmob {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1d1c1d;
        gap: 2em;
        font-size: larger;
        font-weight: 300;
        margin-top: -100px;
    }

    .navmob.open {
        display: flex;
    }

    .navmob-item {
        width: fit-content;
        transition: 0.3s;
        opacity: 1;
    }

    .navmob-item:hover {
        opacity: 0.6;
        
    }

    .logout-btn {
        color: #1d1c1d;
    }

    .settings-container {
        margin-top: 0;
    }

    .bmtnavmob-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .content-container.open {
        display: none;
    }
}